@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: "Inter";
  font-size: 32px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 100%;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1620px;
  margin: 0 auto;
}

a,
a:hover,
a:active,
a:visited {
  color: #000000;
}

a:hover {
  transition: 0.2s;
}

header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__row {
  display: flex;
  line-height: 3.9;
  font-weight: 500;
  min-height: 160px;
  align-items: center;
}

.logo {
  font-weight: 600;
}

.menu__list {
  display: flex;
  padding-right: 364px;
  justify-content: flex-end;
  gap: 50px;
}

.menu__item a:hover {
  text-decoration: underline;
}

nav {
  flex: 1 1 auto;
}

.menu__btn a {
  font-size: 24px;
  line-height: 2.9;
  padding: 13px 43px;
  border: 2px solid #000000;
  border-radius: 5px;
}
.menu__btn a:hover {
  background-color: #000000;
  color: #ffffff;
}

.one__row {
  display: flex;
  min-height: 1080px;
  justify-content: space-between;
}
.one__row img {
  max-width: 772px;
  max-height: 772px;
  -webkit-animation: card 0.5s linear infinite alternate, card_shadow 2s linear infinite alternate;
          animation: card 0.5s linear infinite alternate, card_shadow 2s linear infinite alternate;
  position: relative;
  padding-left: 150px;
  right: 146px;
}

.one__text {
  padding-top: 258px;
  font-weight: 500;
  font-size: 100px;
  line-height: 121px;
}
.one__text .one__btn {
  padding-top: 17px;
}
.one__text span {
  background-color: #000000;
  color: #ffffff;
  padding: 0 20px;
  padding-bottom: 3px;
}
.one__text a {
  font-size: 24px;
  line-height: 29px;
  color: #FFFFFF;
  background-color: #000000;
  border-radius: 5px;
  padding: 25px 40px;
}

@-webkit-keyframes card_shadow {
  0% {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  100% {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(20px 0px 100px #FFAF04);
  }
}

@keyframes card_shadow {
  0% {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  100% {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(20px 0px 100px #FFAF04);
  }
}
@-webkit-keyframes card {
  0% {
    top: 170px;
  }
  100% {
    top: 180px;
  }
}
@keyframes card {
  0% {
    top: 170px;
  }
  100% {
    top: 180px;
  }
}