@import "nullstyle";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Inter';
	font-size: 32px;
}

.wrapper {
	display: flex;
	flex-direction: column;
	overflow: hidden;
	min-height: 100%;
}

main {
	flex: 1 1 auto;
}

.container {
	max-width: 1650px;
	margin: 0 auto;
	padding: 0 15px;
}

@media (max-width: 1650px) {
	.container {
		max-width: 970px;
	}
}

@media (max-width: 991.98px) {
	.container {
		max-width: 750px;
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: none;
	}
}



a,
a:hover,
a:active,
a:visited {
	color: #000000;
}

a:hover {
	transition: 0.2s;
}

header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}

.header__row {
	display: flex;
	line-height: 3.9;
	font-weight: 500;
	min-height: 160px;
	align-items: center;
}

.logo {
	font-weight: 600;
}

.menu__list {
	display: flex;
	padding-right: 364px;
	justify-content: flex-end;
	gap: 50px;
}

@media (max-width: 1650px) {
	.menu__list {
		padding-right: 52px;
		padding-left: 52px;
		gap: 30px;
		font-size: 26px;
		justify-content: center;
	}
}

.menu__item {
	// padding-left: 50px;

	a:hover {
		text-decoration: underline;
	}
}

nav {
	flex: 1 1 auto;
}

.menu__btn a {
	font-size: 24px;
	line-height: 2.9;
	padding: 13px 43px;
	border: 2px solid #000000;
	border-radius: 5px;

	&:hover {
		background-color: #000000;
		color: #ffffff;
	}
}

@media (max-width: 1650px) {
	.menu__btn a {
		font-size: 20px;
	}
}



.one__row {
	display: flex;
	min-height: 100%;
	justify-content: space-between;

	img {
		max-width: 772px;
		max-height: 772px;
		animation: card 1s linear infinite alternate, card_shadow 1s linear infinite alternate;
		position: relative;
		padding-left: 150px;
		right: 146px;
	}
}

@media (max-width: 1650px) {
	.one__row img {
		max-width: 502px;
		max-height: 502px;
		right: -25px;
		padding-left: 15px;
	}
}



.one__text {
	padding-top: 258px;
	font-weight: 500;
	font-size: 100px;
	line-height: 121px;

	span {
		color: #ffffff;
		background-color: #000000;
		padding: 0 12px;
		display: inline-block;
	}

	// span {
	// 	color: #ffffff;

	// 	&:before {
	// 		content: '';
	// 		display: inline-block;
	// 		position: absolute;
	// 		left: 665px;
	// 		top: 391px;
	// 		z-index: -1;
	// 		width: 174px;
	// 		height: 108px;
	// 		background: #000000;
	// 	}
	// }


	.one__btn {
		padding-top: 17px;
	}

	a {
		font-size: 24px;
		line-height: 29px;
		color: #FFFFFF;
		background-color: #000000;
		border: 2px solid #000000;
		border-radius: 5px;
		padding: 24px 38px;

		&:hover {
			border: 2px solid #000000;
			color: #000000;
			background-color: #ffffff;
		}
	}
}

@media (max-width: 1650px) {
	.one__text {
		font-size: 75px;
		padding-top: 188px;
		line-height: 91px;
	}
}


@keyframes card_shadow {
	0% {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	}

	100% {
		filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(20px 0px 100px #FFAF04);
	}

}

@keyframes card {
	0% {
		top: 160px;
	}

	100% {
		top: 170px;
	}
}